RAILS_ENV=development
RAILS_LOG_TO_STDOUT=true
APP_HOST=localhost
APP_PORT=3000

APP_DATABASE_HOST=localhost
APP_DATABASE_PORT=5433
APP_DATABASE_USERNAME=postgres
APP_DATABASE_PASSWORD=
RAILS_MAX_THREADS=5

FORCE_SSL=false
ASSETS_HOST=http://localhost:3000
RAILS_LOG_LEVEL=debug
